
:local(.calendar-wrapper) {
  overflow: hidden;
  position: relative;
  height: 220px;
  margin: 0 20px;
}

:local(.calendar-wrapper) .calendar {
  display: flex;
  width: 1192px;
  position: absolute;
  top: 0;
  right: 0;
}

:local(.calendar-wrapper) .calendar-month {
  display: flex;
  width: 240px;
  flex-wrap: wrap;
  height: 165px;

}

:local(.calendar-wrapper) .calendar-day:nth-child(7n+1) {
  border-right: 1px solid #ccc;
}

:local(.calendar-wrapper) .calendar-day:nth-child(n+30) {
  border-bottom: 1px solid #ccc;
}

:local(.calendar-wrapper) .calendar-month-name {
  width: 240px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}

:local(.calendar-wrapper) .calendar-day {
  width: 32px;
  height: 32px;
  background: #fff;
  text-align: center;
  line-height: 32px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

:local(.calendar-wrapper) .calendar-day.week-end {
  background: #eee;
}

:local(.tooltip) {
  pointer-events: none;
}

:local(.tooltip) [role="document"] {
  box-shadow: 0px 1px 7px -1px black;
}

:local(.tooltipContent) td {
  padding: 6px 15px;
  border-top: 1px dashed #ccc;
}

:local(.tooltipContent) td:nth-child(2),
:local(.tooltipContent) td:nth-child(3){
  border-right: 1px dashed #ccc;
}

:local(.date) {
  font-weight: 500;
  text-align: center;
  padding: 10px;
}