
:local(.calendar-wrapper) {
  overflow: hidden;
  position: relative;
  height: 220px;
  margin: 0 20px;
}

:local(.calendar-wrapper) .calendar {
  display: flex;
  width: 1192px;
  position: absolute;
  top: 0;
  right: 0;
}

:local(.calendar-wrapper) .calendar-month {
  display: flex;
  width: 240px;
  flex-wrap: wrap;
  height: 165px;

}

:local(.calendar-wrapper) .calendar-day:nth-child(7n+1) {
  border-right: 1px solid #ccc;
}

:local(.calendar-wrapper) .calendar-day:nth-child(n+30) {
  border-bottom: 1px solid #ccc;
}

:local(.calendar-wrapper) .calendar-month-name {
  width: 240px;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 30px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}

:local(.calendar-wrapper) .calendar-day {
  width: 32px;
  height: 32px;
  background: #fff;
  text-align: center;
  line-height: 32px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

:local(.calendar-wrapper) .calendar-day.week-end {
  background: #eee;
}

:local(.calendar-wrapper) .calendar-day[data-activity='1'] {
  background: rgb(255,255,191);
}

:local(.calendar-wrapper) .calendar-day[data-activity='2'] {
  background: rgb(217,239,139);
}

:local(.calendar-wrapper) .calendar-day[data-activity='3'] {
  background: rgb(166,217,106);
}

:local(.calendar-wrapper) .calendar-day[data-activity='4'] {
  background: rgb(102,189,99);
}

:local(.calendar-wrapper) .calendar-day[data-activity='5'] {
  background: rgb(26,152,80);
}
