
:global(body),
:global(html) {
    background: #eee;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

:global(a) {
    color: #3f51b5;
    text-decoration: none;
}

:global(a:active) {
    color: #3f51b5;
}

:local(.app) .error,
:local(.app) .loading {
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}

:local(.app) .error {
    text-transform: uppercase;
    font-size: 13px;
    color: #B31418;
}

:local(.app) .loading {
    text-transform: uppercase;
    font-size: 13px;
    color: #3f51b5;
}
