
:local(.app) {
    background: #eee;
}

:local(.app) .error,
:local(.app) .loading {
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}

:local(.app) .error {
    text-transform: uppercase;
    font-size: 13px;
    color: #B31418;
}

:local(.app) .loading {
    text-transform: uppercase;
    font-size: 13px;
    color: #3f51b5;
}

:local(.app) .routes {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px;
}
